.App {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.tble {
  width: 40%;

  position: relative;
}

.small-div {
  border: 1px solid black;
  height: 40%;
  height: 100px;
  text-align: center;
}
